img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.size-full{
	display:block;
	margin:15px 0;
}

.no-scroll{
	overflow:hidden;
}

.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
}

// Containers
.container, 
.container-l,
.container-m,
.container-s{
    padding:0 20px;
}
.container-l,
.container-m,
.container-s{
	width:100%;
	margin:0 auto;
}
.container-l{
	max-width:1440px;
}
.container-m{
	max-width:800px;
}
.container-s{
    max-width:700px;
}

.bg-cover{
	background:no-repeat center center;
	background-size:cover;
}

.spacer{
	padding:0 10px;
}

.center{
	text-align:center;
}

.right{
	text-align:right;
}

@mixin basic_button{
	background:transparent;
	border:0;
	padding:10px 20px;
}

.button{
	@include basic_button;
	background-color:#333;
	color:white;
}

@mixin overlay($color, $opacity, $inner-index){
	position:relative;
	&:after{
		position:absolute;
		content:"";
		width:100%;
		height:100%;
		left:0;
		top:0;
		background-color:rgba($color, $opacity);
	}
	& > *{
		position:relative;
		z-index:$inner-index;
	}
}













