// Clearfix
@mixin clearfix{
	&:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
}

// Use this for ul and ol
@mixin cleanlist{
	margin:0;
	padding:0;
	li{
		margin: 0;
		padding:0;
		list-style: none;
	}
}












