//Colors
$dkgreen: #0c90aa;
$ltgreen: #22abbd;
$dkblue: #1c3d71;
$ltblue: #669bc9; 

$red: #b82e33;

$ltgrey: #e4e4e4;
$mdgrey: #9e9e9e;                                                                                           




//Fonts
$fa: FontAwesome;
$font_main: 'Roboto', sans-serif;


//Breaking Points(according to bootstrap's breaking points)
$xsmall:576px;
$small: 768px;
$medium: 992px;
$large: 1200px;


